<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%=title%></title>
  </head>
  <body>
    <!-- gameplay UI -->
    <main class="main-bg bg-anim relative overflow-hidden">
      <!-- after answer pop-up -->
      <%- include("./partials/after-answer-pop-up") %>

      <!-- loading screen -->
      <%- include("./partials/loading") %>

      <!-- answer part -->
      <section class="grid content-center h-screen relative">
        <main
          class="max-w-screen-2xl w-11/12 xl:w-9/12 mx-auto question-card-wrapper"
        >
          <div class="min-w-full answer-option-wrapper">
            <!-- four opt -->
            <%- include("./partials/gameplay_partials/four-opt.ejs") %>
            <!-- bool option -->
            <%- include("./partials/gameplay_partials/bool-opt.ejs") %>
          </div>
        </main>
      </section>

      <!-- results screen -->
      <%- include("./partials/gameplay_partials/gameplay-result-screen") %>
    </main>

    <script src="../gameplay_js/gameplay.js"></script>
    <script src="../misc_js/parse-cookie.js"></script>
    <script src="../geo-location/process-user-loc.js"></script>
  </body>
</html>

<!-- Footer -->
