<!-- Leaderboard -->
<%- include("./partials/header") %>

<main class="mt-auto">
    <section class="grid content-center min-h-full">
    <main class="max-w-screen-2xl w-11/12 xl:w-9/12 mx-auto">
 
      <div
        class="bg-yellow-200 md:bg-yellow-300 border-4 border-black rounded-xl shadow-2xl md:p-4 my-14"
      >   
        <h1
            class="text-center my-3 md:mt-0 md:mb-2 teko text-3xl md:text-5xl font-bold underline"
        >
        LEADERBOARD
        </h1>
      <!-- top -->
        <div
          class="fira-sans space-y-3 md:border-4 border-black rounded-t-lg md:rounded-lg bg-yellow-200 pt-0 p-4 md:pt-4  h-full"
        >
            <!-- Ranks  -->
            <section> 

                <!-- Category Selectors -->
                <div class =" grid grid-cols-2 gap-2">
                   <!-- country -->
              <div>
                <label
                  for="country"
                  class="text-lg font-bold ml-2 inline-block"
                >
                  Country
                </label>
                <select
                  name="country"
                  id="country"
                  class="border-2 md:border-4 border-black outline-none px-2 rounded-md text-lg block w-full py-2 bg-slate-50"
                >
                  <% countries.forEach(country => { %>
                    <option value="<%=country.code%>"><%= country.name %> <%= country.emoji%></option>
                  <% }) %>
                  <!-- more options will be added through country.js -->
                </select>
              </div>
              <!-- Gamemode -->
              <div>
                <label
                  for="gamemode"
                  class="text-lg font-bold ml-2 inline-block"
                >
                  Gamemode
                </label>
                <select
                  name="gamemode"
                  id="gamemode"
                  class="border-2 md:border-4 border-black outline-none px-2 rounded-md text-lg block w-full py-2 bg-slate-50"
                >
                  <option value="Campaign">Campaign🚀</option>
                  <option value="Random">Random🌪️</option>
                  <option value="Challenge">Challenge🔥</option>
                  <option value="Custom">Custom❓</option>
                </select>
              </div>
              <!-- Category -->
              <div>
                <label
                  for="category"
                  class="text-lg font-bold ml-2 inline-block"
                  >Category
                </label>
                <select
                  name="category"
                  id="category"
                  class="border-2 md:border-4 border-black outline-none px-2 rounded-md text-lg block w-full py-2 bg-slate-50"
                >
                  <%-include("./partials/categories") %>
                </select>
              </div>
              <!-- Difficulty -->
              <div>
                <label
                  for="difficulty"
                  class="text-lg font-bold ml-2 inline-block"
                  >Difficulty
                </label>
                <select
                  name="difficulty"
                  id="difficulty"
                  class="border-2 md:border-4 border-black outline-none px-2 rounded-md text-lg block w-full py-2 bg-slate-50"
                >
                  <option value="any">Any Difficulties</option>
                  <option value="random">Random Difficulties</option>
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                </select>
              </div>
            </section>
        </div>

        <!-- the leaderboard -->
        <div 
        class="md:mt-4 bg-yellow-100 border-t-2 md:border-4 border-black mb-2 md:mb-0 md:rounded-sm overflow-y-auto relative h-96 ">
            <%- include("./partials/loading-leaderboard") %> 
            <!-- table -->
            <div class=" absolute inset-0">
                <div 
                id ="leaderboard-table" 
                class="w-full text-lg sm:text-xl md:text-2xl flex flex-col">
                    <div class=" text-center teko font-bold  border-b-2 border-black sticky top-0 w-full bg-orange-300 shadow-lg tb-heading flex justify-between items-center ">
                        <p class=" p-1 bg-orange-400 basis-[20%]">Rank</p>
                        <p class=" p-1 bg-amber-400 basis-[40%]">Username</p>
                        <p class=" p-1 bg-yellow-400 basis-[40%]">Points</p>
                    </div>
                    <section id="table-content">
                    </section>
                </div>                   
            </div>
        </div>
    </main>
  </section></main>

<script src="../score_js/leaderboard.js"></script>
  <script src="../misc_js/interaction.js"></script>

  <!-- Footer -->
<%- include("./partials/footer") %>