<%- include("./partials/header") %>
<section class="relative grid content-center min-h-full mt-auto">
  <!-- alert -->
  <%- include("./partials/alert.ejs") %>
  <main class="max-w-screen-2xl w-11/12 xl:w-9/12 mx-auto">
    <div
      class="md:bg-yellow-300 border-4 border-black rounded-xl shadow-2xl md:p-4 my-10"
    >
      <form
        action="/check_login"
        method="post"
        class="font-fira-sans space-y-3 md:border-4 border-black rounded-lg bg-yellow-200 p-4"
      >
        <%-include("./partials/form-fields", { page_title: "LOGIN" }) %>
        <!-- buttons -->
        <%- include("./partials/form-btn", { green_btn: "LOGIN",
        redirect_btn:"SIGN-UP"}) %>
      </form>
    </div>
  </main>
</section>

<script src="../misc_js/interaction.js"></script>
<script src="../misc_js/footer.js"></script>
<script src="../misc_js/show-pw.js"></script>

<%- include("./partials/footer") %>
