<%- include("./partials/header.ejs")  %> 
    <main class="mt-auto">
      <!-- Profile -->
      <section class="grid content-center min-h-full">
        <main class="max-w-screen-2xl w-11/12 md:w-9/12 xl:w-7/12 mx-auto">
          <div
            class="md:bg-yellow-300 border-4 border-black rounded-xl shadow-2xl md:p-4 my-14"
          >  
            <h1
              class="text-center rounded-t-lg md:rounded-none bg-yellow-200 md:bg-transparent pt-4 md:py-2 font-teko text-2xl sm:text-3xl md:text-5xl font-bold underline"
              >
              <%=username.toUpperCase()%>'S PROFILE
            </h1>
            <section
              class="font-fira-sans md:border-4 border-black rounded-b-lg rounded md:rounded-lg bg-yellow-200 p-3 md:p-4 xl:p-4"
            >
              <!-- content-wrapper -->
              <div>
                <!-- username -->
                <div class="w-full mx-auto">
                  <label
                    for="username"
                    class="text-lg font-bold ml-2 flex items-base"
                  > Username
                  </label>
                  <input type="text" name="username" 
                  id="username" class="border-2
                  md:border-4 border-black outline-none px-2 rounded md:rounded-lg block
                  w-full py-1 bg-slate-50" value=<%=username%> readonly />
                </div>

                <!-- desc -->
                <div class="w-full mx-auto">
                  <label
                    for="description"
                    class="text-lg font-bold ml-2 inline-block"
                  >
                    Description
                  </label>
                  <textarea
                    name="description"
                    id="description"
                    cols="30"
                    rows="8"
                    class="border-2 md:border-4 border-black outline-none px-2 rounded md:rounded-lg block w-full py-1 bg-slate-50 resize-none"
                    placeholder="The User Has No Description"
                    readonly
                  ><%=description%></textarea>
                </div>
                <!-- country -->
                <div class="w-full mx-auto">
                  <label
                    for="country"
                    class="text-lg font-bold ml-2 inline-block"
                  >
                    Country
                  </label>
                  <select
                    name="country"
                    id="country"
                    class="border-2 md:border-4 border-black outline-none px-2 rounded md:rounded-lg block w-full py-1 bg-slate-50" 
                    disabled>
                  <% countries.forEach(countryItem => { %>
                    <% if (countryItem.code == country) { %>
                    <option value="<%=countryItem.code%>"selected ><%=countryItem.name%> <%=countryItem.emoji%></option>
                    <% } %> 
                  <% }) %>
                
                    <!-- more options will be added through country.js -->
                  </select>
                </div>

                <!-- Highscore -->
                <div
                class="mb-8 pt-16 md:mb-0 md:pt-1 resize-y h-72 md:h-[8.7rem] xl:md:h-[8.5rem] "
                >
                  <h2
                    class="pb-2 md:pb-3 text-2xl md:text-xl xl:text-2xl font-bold font-fira-sans underline text-center underline-offset-4"
                  >
                    Highscores
                  </h2>
                  <div
                    class="highscore-box h-full bg-white border-2 md:border-4 border-black relative overflow-y-auto "
                    >
                    <div
                    id="highscore-preview"
                    class="absolute inset-0 text-sm bg-yellow-100 ">
                      <div
                        class="flex justify-center divide-x-2 divide-black sticky top-0 inset-x-0 shadow-lg"
                      >
                        <p
                          class="highscore-left bg-orange-400 w-full text-sm font-bold text-center border-b-2 border-black"
                        >
                          Modes
                        </p>
                        <p
                          class="highscore-right bg-yellow-500 w-full text-sm font-bold text-center border-b-2 border-black"
                        >
                          Score
                        </p>
                      </div>
                      <!-- highscore preview -->
                        <% if (scoreName.length != 0) { %>
                          <% for( let i = 0; i <= scoreName.length; i++ ) { %>
                              <% if (i == scoreName.length) { %>
                                <p class="text-center font-light bg-yellow-100 py-2 font-fira-sans text-slate-900">No More Highscores</p>
                              <% } else {%>
                                <!--score-->
                                <div
                                class="flex justify-between divide-x-2 divide-black text-sm border-b-2 border-black"
                                >
                                <p
                                  class="text-xs xl:text-sm highscore-left bg-orange-300 w-full text-center py-2 flex justify-center items-center"
                                >
                                  <%=scoreName[i]%> 
                                </p>
                                <p
                                  class="highscore-right bg-yellow-400 w-full text-center py-2 flex justify-center items-center text-lg"
                                >
                                  <%=scoreValue[i]%> 
                                </p>
                              </div>               
                              <% } %>          
                          <% } %>
                        <% } else {%>
                          <p class="text-center font-light text-lg py-2 bg-yellow-100 font-fira-sans text-slate-900">No Scores Found</p>
                        <% } %>                          
                    </div>
                  </div>
                </div>          
                <!-- buttons -->
                <div
                class="text-black tracking-wide mt-4 font-bold font-teko text-3xl mx-auto justify-center pt-10 w-full"
                >
                    <a href="/leaderboard" class="bg-orange-300 border-2 md:border-4 border-black px-5 uppercase w-full duration-300 hover:bg-green-400 active:bg-green-600 hover:text-white rounded md:rounded-lg text-center text-xl md:text-2xl col-span-1 md:col-span-2 py-1 block">To Leaderboard</a>
                </div>
              </div>
            </section>
          </div>
        </main>
      </section>
    </main>
  </body>
<script src="../../misc_js/interaction.js"></script>
<!-- Footer -->
<%- include("./partials/footer") %>
